{% extends "BlogRiverPlate/padre.html" %}

{% load static %}

{% block navBar %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{% url "inicio" %}">INICIO</a>
                <a class="navbar-brand" href="{% url "listaDeBlogs" %}">Blogs</a>
                <a class="navbar-brand" href="{% url "perfilDeUsuario" %}">{{ user.username }}</a>
                <img src="{{ avatar }}" alt="Avatar" style="width:50px;height:50px;">
                <a class="navbar-brand" href="{% url "logout" %}">Cerrar Sesion</a>
            </div>
        </nav>
{% endblock navBar %}

{% block titulo %}
                <h1 class="masthead-heading text-uppercase mb-0">Creacion De Blog</h1>
                
                {% endblock titulo %}

{% block primerSeccionPagina %}

{% endblock primerSeccionPagina %}

{% block segundaSeccionPagina %}

{% endblock segundaSeccionPagina %}

{% block terceraSeccionPagina %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Complete los datos porfavor</h2>
    </div>
    &nbsp;

    <div class="container">
        <h3> {{ mensaje }} </h3>
        <form action="{% url "crearBlog" %}" method="POST">{% csrf_token %}
            
            <table>

                {{ form.as_table }}

            </table>

            <input type="submit" value="Crear">
        </form>
    </div>
{% endblock terceraSeccionPagina %}

{% block botonSobreMiInicio %}
<a class="btn btn-xl text-uppercase btn-outline-light " href="{% url "sobreMi" %}">Sobre Mi</a>
{% endblock botonSobreMiInicio %}