{% extends "BlogRiverPlate/padre.html" %}

{% load static %}

{% block navBar %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">

                <a class="navbar-brand" href="{% url "inicio" %}">INICIO</a>
                <a class="navbar-brand" href="{% url "crearBlog" %}">Crear</a>
                <a class="navbar-brand" href="{% url "perfilDeUsuario" %}">{{ user.username }}</a>
                <img src="{{ avatar }}" alt="Avatar" style="width:50px;height:50px;">
                <a class="navbar-brand" href="{% url "logout" %}">Cerrar Sesion</a>
                
                
            </div>
        </nav>
{% endblock navBar %}

{% block titulo %}
<h1 class="masthead-heading text-uppercase mb-0">Todos los blogs</h1>
{% endblock titulo %}

{% block primerSeccionPagina %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Blogs Recientes</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        &nbsp;
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        {% for blog in blogs %}
                        <a href="{{blog.id}}">
                            <h2 class="post-title">{{ blog.tituloDelBlog }}</h2> 
                            <h3 class="post-subtitle">{{ blog.subtituloDeBlog }}</h3>
                        </a>
                        <p class="post-meta">
                            Creado por {{ blog.autorDelBlog }}
                            Fecha {{ blog.fechaDelBlog }}
                            
                        </p>
                        {% if request.user.username == blog.autorDelBlog %}
                        <a class="btn btn-success" href="{% url 'editarBlog'  blog.id  %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'eliminarBlog'  blog.id  %}">Eliminar</a>
                        {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>    
            </div>    
        </div>    


        
        
    </div>
</section>
{% endblock primerSeccionPagina %}

{% block segundaSeccionPagina %}

{% endblock segundaSeccionPagina %}

{% block terceraSeccionPagina %}

{% endblock terceraSeccionPagina %}

{% block botonSobreMiInicio %}
<a class="btn btn-xl text-uppercase btn-outline-light " href="{% url "sobreMi" %}">Sobre Mi</a>
{% endblock botonSobreMiInicio %}