<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>River Plate | Blog no oficial</title>

    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
    <link href="{% static 'BlogRiverPlate/assets/css/ollie.css' %}" rel="stylesheet" />
	<!--link rel="stylesheet" href="assets/css/ollie.css"-->


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'BlogRiverPlate/assets/imgs/logoriver.png' %}" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block navBar %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inicio' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="#about">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfilDeUsuario' %}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inicioMensajeria' %}">Mensajeria </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listaDeBlogs' %}">Blogs de noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Acerca de mi</a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn btn-primary" href="{% url 'logout' %}">LOGOUT</a>
                    <p>Bienvenido  {{ user.username }}</p>
                    <li class="nav-item">
                    <img src="{{ avatar }}" alt="Avatar" style="width:50px;height:50px;">
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        {% else %}
                        <a class="nav-link btn btn-success" href="{% url 'iniciarSesion' %}">LOGIN</a>
                    </li>
                    
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn btn-secondary" href="{% url 'registrarse' %}">REGISTER</a> 
                        {% endif %}   
                </ul>
                {% endblock navBar %}
            </div>
            
        </div>
    </nav>
 <!-- Masthead-->
 <header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    
                    <!-- Page heading-->
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container"></div>

    <header id="home" class="header">
        <div class="overlay"></div>
                                    

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
             
            <div class="container">
                
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                        
                        <div class="carousel-caption d-none d-md-block">
                            {% block titulo %}   
                            
                            
                            
                            {% endblock %}
                                                                                   
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">We Make <br> Responsive Design</h1>
                            <button class="btn btn-primary btn-rounded">Learn More</button>
                          </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">We Make <br> Simple Design</h1>
                            <button class="btn btn-primary btn-rounded">Learn More</button>
                          </div>
                    </div>
                </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal"></h6>
                <h5>Club Atlético River Plate</h5>
                <p class="font-small">Av. Figueroa Alcorta 7597 (C1424BCL) CABA, Buenos Aires, Argentina. </p>
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i> Contacto: Informes: (54 11) 5238-2505</a>
                        <a class="d-block subtitle"><i class="ti-email pr-2"></i> club@cariverplate.com.ar</a>
                    </div>
                    <p></p>
                    
                    
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2"> </h6>
                        <div class="social-links">
                            
                            <a class="ti-facebook" href="https://www.facebook.com/riverplateoficial">FACEBOOK</a>
                            <a class="ti-twitter-alt" href="https://twitter.com/RiverPlate">TWITTER</a>
                            <a class="ti-instagram" href="https://www.instagram.com/riverplate/">INSTAGRAM</a>
                            <!--<a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-rss"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        {% block primerSeccionPagina %}

        {% endblock primerSeccionPagina %}

        {% block segundaSeccionPagina %}    

        {% endblock segundaSeccionPagina %}

        {% block terceraSeccionPagina %}

        {% endblock terceraSeccionPagina %}
        <center>
            {% block content %}   
            
            





            {% endblock %}
        </center> 
        
    </div>
    
    <section class="section" id="about">

        <div class="container">

            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h6 class="xs-font mb-0">25/5/1901</h6>
                    <h3 class="section-title">Fundación del club.</h3>
                    
                    <p>El 25 de mayo se funda River Plate tras la fusión de La Rosales y Santa Rosa, dos equipos del barrio de La Boca. </p>

                    <a href="https://www.cariverplate.com.ar/historia">Read more...</a>
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">18</h4>
                            <p>TÍTULOS INTERNACIONALES</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">37</h4>
                            <p>TÍTULOS DE LIGA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">14</h4>
                            <p>COPAS NACIONALES</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="ti-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">160.000+</h4>
                            <p>SOCIOS</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h6 class="xs-font mb-0">Grandeza</h6>
            <h3 class="section-title mb-4">TÍTULOS INOLVIDABLES</h3>

            <div class="row text-center">
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{% static 'BlogRiverPlate/assets/imgs/2018.webp' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">River plate 5 - 3 Boca Jr</h4>
                            <p class="xs-font">Final copa Libertadores de América 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{% static 'BlogRiverPlate/assets/imgs/1996.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">River plate 2 - 1 América de Cali</h4>
                            <p class="xs-font">Final Copa Libertadores de América 1996</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{% static 'BlogRiverPlate/assets/imgs/1986.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <span class="card-body">
                            <h4 class="title mt-4">River plate 3 - 1 América de Cali</h4>
                            <p class="xs-font">Final Copa Libertadores de América 1986</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section pb-0">

        <div class="container">
            <h6 class="xs-font mb-0"></h6>
            <h3 class="section-title mb-5">ACERCA DE MI . . .</h3>

            <!--<div class="row align-items-center justify-content-between">
                <div class="col-md-8 col-lg-7">

                    <form class="contact-form">
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Su mensaje"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Enviar">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-none d-md-block order-1">
                    <ul class="list">
                        <li class="list-head">-->
                            <h6>
                                <center>
                                ¡Hola! 
                                Mi nombre es Fernando Minisini, oriundo de Villa Regina, Rio Negro. Soy estudiante del curso de python de CoderHouse en la comisión 51325.
                                Si todo sale de acuerdo a lo planeado a fin de año me recibiré de Licenciado en higiene y seguridad laboral.
                                Actualmente trabajo en el sector de Mantenimiento de la empresa Ciati A.C, dedicada a la prestación de servicios analíticos, de tecnología y de 
                                asistencia técnica para las industrias de alimentos, de energía y de ambiente.
                                Mi fanatismo por la tecnología y la electronica me llevó a crear mi propio emprendimiento de soluciones informaticas brindando sericio de reparación
                                de computadoras, entre otras cosas. 
                                </center>
                            </h6>
                                
                                
                            
                            <p class="py-2"><i class="ti-email"></i>Email:  fernandominisini@gmail.com</p>
                            <p class="py-2"><i class="ti-microphone"></i>Cel: (298) 469-5743</p>

                        </li>
                    </ul> 
                </div>
            </div>

            <footer class="footer mt-5 border-top">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 text-center text-md-left">
                        <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a target="_blank" href="https://www.linkedin.com/in/fernando-minisini/">FMinis <---Linkedin</a></p>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <!--<div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div> -->
                    </div>
                </div> 
            </footer>
        </div>
    </section>
	
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="assets/js/Ollie.js"></script>

</body>
</html>