{% extends "BlogRiverPlate/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="mb-5">Plantillas River Plate</h1>

{% endblock %}

{% block content %}

<h3>{{ mensaje }}</h3>

<form action="{% url 'plantilla'  %}" method="post">  {% csrf_token %}

    <table>

    {{ form.as_table }}

    </table>
    
    <input type="submit" value="CREAR JUGADOR">

</form>

</div>
<table>
  <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Posicion</th>
    </tr>
  </thead>
  <tbody>
    

    
    {% for jugador in jugadores %}
        <tr>
       
            <td>
                {{ jugador.nombre }}
            </td>
            <td>
                {{ jugador.apellido }}
            </td>
            <td>
                {{ jugador.posicion }}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}